@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-mini::-webkit-scrollbar {
    
    display: hidden;
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  .scrollbar-mini::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .scrollbar-mini::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }
}

:root {
  --text: #040816;
  --background: #e0e6fa;
  --primary: #1f40ad;
  --secondary: #cbd5f6;
  --accent: #254dd0;
}

.dark {
  --text: #e9edfb;
  --background: #050b1f;
  --primary: #5273e0;
  --secondary: #091334;
  --accent: #2f57da;
}